extends _layout.pug

block content
  .section-wrapper
    .container
      h1.-underlined Hello world!
      p Get started by editing #[code index.html], #[code index.scss], or #[code index.js].
      p Take a look at the #[a(href="elements.html") Elements page] to see what's included.
